{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <button type="submit" class="btn btn-outline-info row mt-4" style="max-height: 40px;">Agregar producto</button>

        <form method="post"class="row justify-content-around" >
            
            {%  csrf_token %}<!--token de seguridad-->
            {{ form.as_p }}<!--se van a pintar los inputs que vienes del back-->
            
            <button type="submit" class="btn btn-outline-success row mt-4" style="max-height: 40px;">Guardar compra</button>
        </form>

        
    </div>
{% endblock %}