{% extends 'base/base.html' %} {% load static %}



{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Productos Ingresados</h3>
      </div>
      <!-- /.card-header -->

      <div class="card-body p-0">
        <table id="tablaProductos" class="table table-striped">
          <thead>
            <tr>
              <th>ID DE LA COMPRA</th>
              <th>NOMBRE</th>
              <th>UNIDAD</th>
              <th>CANTIDAD</th>
              <th>PRECIO UNITARIO</th>
              <th>TOTAL</th>
              <th>PROVEEDOR</th>
              <th>ACCIONES</th>
              
            </tr>
          </thead>
          <tbody>
            {% if productos %} 
            {% for producto in productos %}
            <tr>
              <td>{{producto.compra.co_fechaIngreso}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.unidad}}</td>
              <td>{{producto.pro_cantidad}}</td>
              <td>{{producto.pro_precio}}</td>
              <td>{{producto.pro_total}}</td>
              <td>{{producto.prov_id}}</td>
              <td>
             
                <a href="#" class="btn btn-info" title="Ver Detalles">
                  <i class="fas fa-eye" style="font-size: 18px;"></i>
                </a>
              </td>
             
            </tr>
            {% endfor%} 
            {% else %}
              <h3>no hay resultados</h3>
           
            {%endif%}

            
          
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<a href="#" class="btn btn-success">
  imprimir
</a>
{% endblock %}

{% block extrajs %}
{% load static %}
  <script>
    $(document).ready(function(){
      $('#tablaProductos').DataTable({
        responsive: true,
        autoWidth: false,
        
        "language": {
                    url : "{% static 'DataTables/spanish.txt' %}"
                }
        });
    })
  </script>
{% endblock %}


