{% extends 'base/base.html' %} {% block content%}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if perms.appcons.add_proovedor %}
        <a
          href="{% url 'proovedores:agregarProovedor' %}"
          class="btn btn-success"
        >
          Agregar Proovedor
        </a>
        {% endif %}
       
      </div>
      <!-- /.card-header -->

      <div class="card-body  p-0">
        <table id="tablaProveedores" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% if proovedores %} {% for proovedor in proovedores %}
            <tr>
              <td>{{proovedor.id}}</td>
              <td>{{proovedor.proov_nombre}}</td>
              <td>{{proovedor.proov_dni}}</td>
              <td>
                <a
                  href="{% url 'proovedores:proovedorEdit' proovedor.id %}"
                  class="btn btn-warning"
                  title="Actualizar"
                >
                  <i class="fas fa-pen-square" style="font-size: 18px;"></i>
                </a>
                <a
                  href="{% url 'proovedores:proovedorEliminar' proovedor.id %}"
                  class="btn btn-danger"
                  title="Eliminar"
                >
                  <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
                </a>
                <a href="#" class="btn btn-info" title="Ver Detalles">
                  <i class="fas fa-eye" style="font-size: 18px;"></i>
                </a>
              </td>
            </tr>
            {% endfor%} {%endif%}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

{% endblock %}


{% block extrajs %}
{% load static %}
  <script>
    $(document).ready(function(){
      $('#tablaProveedores').DataTable({
        responsive: true,
        autoWidth: false,
        
        "language": {
                    url : "{% static 'DataTables/spanish.txt' %}"
                }
        });
    })
  </script>
{% endblock %}