{% extends 'base/base.html' %} {% block content%}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if perms.appcons.add_unidad %}
        <a href="{% url 'unidades:agregarUnidad' %}" class="btn btn-success">
          Agregar Unidad
        </a>
        {% endif %}
        
      </div>
      <!-- /.card-header -->

      <div class="card-body table table-striped p-0">
        <table id="tablaUnidades" class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% if unidades %} {% for unidad in unidades %}
            <tr>
              <td>{{unidad.id}}</td>
              <td>{{unidad.un_nombre}}</td>
              <td>
                <a href="#" class="btn btn-warning" title="Actualizar">
                  <i class="fas fa-pen-square" style="font-size: 18px;"></i>
                </a>
                <a
                  href="{% url 'unidades:unidad_eliminar' unidad.id%}"
                  class="btn btn-danger"
                  title="Eliminar"
                >
                  <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
                </a>
              </td>
            </tr>
            {% endfor%} {%endif%}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

{% endblock %}

{% block extrajs %}
{% load static %}
  <script>
    $(document).ready(function(){
      $('#tablaUnidades').DataTable({
        responsive: true,
        autoWidth: false,
        
        "language": {
                    url : "{% static 'DataTables/spanish.txt' %}"
                }
        });
    })
  </script>
{% endblock %}
