{% extends 'base/base.html' %} 

{% block content%}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if perms.appcons.add_material %}
        <a
          href="{% url 'materiales:agregarMaterial' %}"
          class="btn btn-success"
        >
          Nuevo material
        </a>
        {% endif %}
      </div>
      <!-- /.card-header -->

      <div class="card-body  p-0">
        <table  id="tablaMateriales" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombres</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% if materiales %} {% for material in materiales %}
            <tr>
              <td>{{material.id}}</td>
              <td>{{material.ma_nombre}}</td>
              <td>
                <a
                  href="{% url 'materiales:materialEdit' material.id%}"
                  class="btn btn-warning"
                  title="Actualizar"
                >
                  <i class="fas fa-pen-square" style="font-size: 18px;"></i>
                </a>
                <a
                  href="{% url 'materiales:materialEliminar' material.id%}"
                  class="btn btn-danger"
                  title="Eliminar"
                >
                  <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
                </a>
              </td>
            </tr>
            {% endfor%} {%endif%}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

{% endblock %}


{% block extrajs %}
{% load static %}
  <script>
    $(document).ready(function(){
      $('#tablaMateriales').DataTable({
        responsive: true,
        autoWidth: false,
        
        "language": {
                    url : "{% static 'DataTables/spanish.txt' %}"
                }
        });
    })
  </script>
{% endblock %}